<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
 <div class="container">
     <a class = "navbar-brand" href = "/">Lokesh App</a>
     <div class = "collapse navbar-collapse" id = "navbarNav">
         <ul class ="navbar-nav">
             <li class = "nav-item">
                 <a class = "nav-link" href = "/">Home</a>
             </li>
           
                <li class="nav-item">
                    <a class="nav-link" href="/ideas/add">Add Idea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ideas/">Idea Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Logout</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register">Register</a>
                </li>
               
         </ul>
     </div>
 </div>
</nav>